.mdl-layout-title {
    margin-left: -50px;
}

.mdl-layout__content {
    padding: 24px 12px;
}

.mdl-button-right-bottom {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 1;
}

.demo-list-item {
    margin-top: 5px;
}

.mdl-list__item {
    background: white;
    min-height: 100px;
}

body {
    background: #E8E8EE;
}

hr {
    height: 5px;
    border: 0;
}

.list-pin {
    position: absolute;
    left: 40%;
    text-align: center;
    color: #2196f3;
    font-size: 150%;
    display: block;
    cursor: text;
}

.list-time {
    position: absolute;
    left: 60%;
    text-align: center;
    height: 50px;
    width: 50px;
}

.color-green{
    color: green;
    float: right;
}
