h5 {
    margin-left: 20px;
    margin-bottom: 0px;
}

.mdl-layout-title {
    margin-left: 20px;
}

#old-password {
    display: none;
}

.mdl-textfield {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.up-button {
    top: -20px;
    margin-bottom: 0;
}

.mdl-button {
    text-transform: capitalize;
    margin-left: 20px;
}

#change-password-button {
    margin-left: 20px;
    display: inline;
    /*margin-right: 20px;*/
}

#remove-encryption-button {
    display: none;
}

#invisible {
    height: 0;
    border: 0;
    display: none;
}

#time-btn {
    margin-top: 20px;
}